#map {
    height: 100%;
    position: relative;
}     
html, body {
	height: 100%;
    margin: 0;
    padding: 0;
}
#input { 
	padding: 3px;
	position: absolute; 
	height: 21px;
	width: 300px;
	top: 10px;
	left: 120px; 
	z-index: 99; 
}
#search{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    position: absolute; 
}

#search input{
    border: 0;
    box-shadow: none;
    margin: 0 2 0 2;
}

#search button{
    margin: 0 0 0 0;
    background: white;
    border: 0;
    color: #666666;
    /*padding-bottom: 2px;*/
    /*padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;*/
}

#search button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#search .glyphicon-search{
    font-size: 23px;
}